{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="ftco-section">
        <div class="container-fluid">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h3 class="subheading">Gym Classes</h3>
                    <h2 class="mb-1">Workout Classes</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="package-program ftco-animate">
                        <a href="{% url 'bodybuilding' %}" class="img d-flex justify-content-center align-items-center"
                           style="background-image: url({% static 'images/program-1.jpg' %});">
                            <span>See Exercise</span>
                        </a>
                        <div class="text mt-3">
                            <h3><a href="#">Body Building</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary
                                regelialia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="package-program ftco-animate">
                        <a href="{% url 'aerobic' %}" class="img d-flex justify-content-center align-items-center"
                           style="background-image: url({% static 'images/program-2.jpg' %});">
                            <span>See exercise</span>
                        </a>
                        <div class="text mt-3">
                            <h3><a href="#">Aerobic Classes</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary
                                regelialia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="package-program ftco-animate">
                        <a href="{% url 'weightlifting' %}" class="img d-flex justify-content-center align-items-center"
                           style="background-image: url({% static 'images/program-3.jpg' %});">
                            <span>See exercise</span>
                        </a>
                        <div class="text mt-3">
                            <h3><a href="#">Weight Lifting</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary
                                regelialia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="package-program ftco-animate">
                        <a href="{% url 'yoga' %}" class="img d-flex justify-content-center align-items-center"
                           style="background-image: url({% static 'images/program-4.jpg' %});">
                            <span>See exercise</span>
                        </a>
                        <div class="text mt-3">
                            <h3><a href="#">Yoga Classes</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary
                                regelialia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-4 justify-content-center ftco-animate">
                <div class="col-md-4 text-center">
                    <a href="#" class="btn-custom py-4">View More Program <span class="ion-ios-arrow-down ml-2"></span></a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}